---
import Section from './Section.astro';
---

<Section>
	<footer class="text-center">
		<div class="pb-4">
			<a class="underline hover:text-orange-600" href="/rss.xml">RSS</a> - <a
				class="underline hover:text-orange-600"
				href="/tags">Tags</a
			>
		</div>
	</footer>
</Section>
